<a href="https://colab.research.google.com/github/Sriyansh-36-AI-NITJ/Programming-with-Python-Laboratory/blob/main/Python_End_Sem_Practical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name:** Sriyansh

**RollNo.**:25901336

**Course:** M.Tech

**Branch:** AI

1.Write a Python program that:

Reads student records from a file

1.   Reads student records from a file
2.   Writes even-roll students to one file and odd-roll students to another


1.  Writes even-roll students to one file and odd-roll students to another
2.   Reopens both files and updates pending fee to zero if:
    
      *   Fee &lt; 5000 and CGPA & gt; 8
Do not use class member functions for condition checking

In [7]:
import pandas as pd

# Read student records from 'students.csv' into a pandas DataFrame
df_students = pd.read_csv('students.csv')

# Print a confirmation message and display the first 5 rows of the DataFrame
print("DataFrame 'df_students' created successfully. First 5 rows:")
print(df_students.head())

DataFrame 'df_students' created successfully. First 5 rows:
   Roll     Name   Fee  CGPA
0   101    Alice  4500   8.5
1   102      Bob  6000   7.2
2   103  Charlie  3000   9.1
3   104    David  7500   6.8
4   105      Eve  4800   8.9

In [8]:
# Separate students into two DataFrames based on their 'Roll' number parity
df_even_roll = df_students[df_students['Roll'] % 2 == 0]
df_odd_roll = df_students[df_students['Roll'] % 2 != 0]

# Save the even-roll students to 'even_roll_students.csv'
df_even_roll.to_csv('even_roll_students.csv', index=False)
# Save the odd-roll students to 'odd_roll_students.csv'
df_odd_roll.to_csv('odd_roll_students.csv', index=False)

# Print confirmation messages for file creation
print("Even roll students saved to 'even_roll_students.csv'")
print("Odd roll students saved to 'odd_roll_students.csv'")

# Display the first 5 rows of the even-roll DataFrame
print("\nFirst 5 rows of df_even_roll:")
print(df_even_roll.head())
# Display the first 5 rows of the odd-roll DataFrame
print("\nFirst 5 rows of df_odd_roll:")
print(df_odd_roll.head())

Even roll students saved to 'even_roll_students.csv'
Odd roll students saved to 'odd_roll_students.csv'

First 5 rows of df_even_roll:
   Roll   Name   Fee  CGPA
1   102    Bob  6000   7.2
3   104  David  7500   6.8
5   106  Frank  5500   7.5
7   108  Heidi  8000   6.0
9   110   Judy  7000   7.0

First 5 rows of df_odd_roll:
   Roll     Name   Fee  CGPA
0   101    Alice  4500   8.5
2   103  Charlie  3000   9.1
4   105      Eve  4800   8.9
6   107    Grace  2500   9.5
8   109     Ivan  4000   8.2

In [9]:
# Reopen 'even_roll_students.csv' into a DataFrame to update fees
df_updated_even_roll = pd.read_csv('even_roll_students.csv')

# Define the condition for updating fees: Fee < 5000 AND CGPA > 8
# If the condition is met, set the 'Fee' to 0
condition = (df_updated_even_roll['Fee'] < 5000) & (df_updated_even_roll['CGPA'] > 8)
df_updated_even_roll.loc[condition, 'Fee'] = 0

# Save the updated even-roll students DataFrame to a new CSV file
df_updated_even_roll.to_csv('updated_even_roll_students.csv', index=False)

# Print a confirmation message and display the first 5 rows after the update
print("Updated even roll students saved to 'updated_even_roll_students.csv'")
print("\nFirst 5 rows of df_updated_even_roll after fee update:")
print(df_updated_even_roll.head())

Updated even roll students saved to 'updated_even_roll_students.csv'

First 5 rows of df_updated_even_roll after fee update:
   Roll   Name   Fee  CGPA
0   102    Bob  6000   7.2
1   104  David  7500   6.8
2   106  Frank  5500   7.5
3   108  Heidi  8000   6.0
4   110   Judy  7000   7.0

In [10]:
df_updated_odd_roll = pd.read_csv('odd_roll_students.csv')

# Apply the condition: Fee = 0 if Fee < 5000 AND CGPA > 8
condition = (df_updated_odd_roll['Fee'] < 5000) & (df_updated_odd_roll['CGPA'] > 8)
df_updated_odd_roll.loc[condition, 'Fee'] = 0

df_updated_odd_roll.to_csv('updated_odd_roll_students.csv', index=False)

print("Updated odd roll students saved to 'updated_odd_roll_students.csv'")
print("\nFirst 5 rows of df_updated_odd_roll after fee update:")
print(df_updated_odd_roll.head())

Updated odd roll students saved to 'updated_odd_roll_students.csv'

First 5 rows of df_updated_odd_roll after fee update:
   Roll     Name  Fee  CGPA
0   101    Alice    0   8.5
1   103  Charlie    0   9.1
2   105      Eve    0   8.9
3   107    Grace    0   9.5
4   109     Ivan    0   8.2

In [11]:
# Print a header for the even roll students' updated data
print("\n--- Contents of updated_even_roll_students.csv ---\n")
# Read the updated even-roll students file and print its entire content
df_final_even = pd.read_csv('updated_even_roll_students.csv')
print(df_final_even)

# Print a header for the odd roll students' updated data
print("\n--- Contents of updated_odd_roll_students.csv ---\n")
# Read the updated odd-roll students file and print its entire content
df_final_odd = pd.read_csv('updated_odd_roll_students.csv')
print(df_final_odd)

--- Contents of updated_even_roll_students.csv ---

   Roll   Name   Fee  CGPA
0   102    Bob  6000   7.2
1   104  David  7500   6.8
2   106  Frank  5500   7.5
3   108  Heidi  8000   6.0
4   110   Judy  7000   7.0

--- Contents of updated_odd_roll_students.csv ---

   Roll     Name  Fee  CGPA
0   101    Alice    0   8.5
1   103  Charlie    0   9.1
2   105      Eve    0   8.9
3   107    Grace    0   9.5
4   109     Ivan    0   8.2

2. Write a program to calculate parking charges of a vehicle. Enter the type of vehicle as acharacter and number of hours, then calculate charges as give below:
Truck/bus-Rs 20 per hour
Car-Rs 10 per hour
Scooter/Cycle/MotoerCycle-Rs5 per hour

In [12]:
# Function to calculate parking charges
def calculate_parking_charges(vehicle_type, hours):
    # Define parking rates
    rates = {
        'T': 20, # Truck/Bus
        'C': 10, # Car
        'S': 5   # Scooter/Cycle/MotorCycle
    }

    # Convert vehicle_type to uppercase for case-insensitive comparison
    vehicle_type = vehicle_type.upper()

    if vehicle_type in rates:
        charge_per_hour = rates[vehicle_type]
        total_charge = charge_per_hour * hours
        return total_charge
    else:
        return "Invalid vehicle type. Please enter T (Truck/Bus), C (Car), or S (Scooter/Cycle/MotorCycle)."

# Get input from the user
vehicle_input = input("Enter vehicle type (T for Truck/Bus, C for Car, S for Scooter/Cycle/MotorCycle): ")
hours_input = input("Enter number of hours parked: ")

try:
    hours = int(hours_input)
    if hours < 0:
        print("Number of hours cannot be negative.")
    else:
        # Calculate and display charges
        charges = calculate_parking_charges(vehicle_input, hours)
        if isinstance(charges, str):
            print(charges)
        else:
            print(f"Parking charge for {hours} hours: Rs {charges}")
except ValueError:
    print("Invalid input for hours. Please enter a whole number.")

Enter vehicle type (T for Truck/Bus, C for Car, S for Scooter/Cycle/MotorCycle): C
Enter number of hours parked: 4
Parking charge for 4 hours: Rs 40

3.Given:A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7}
C = (A | B) - (A &amp; B)
What is the number of elements in set C?

In [13]:
# Define the sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7}

# Calculate the union of A and B (A | B)
union_AB = A | B

# Calculate the intersection of A and B (A & B)
intersection_AB = A & B

# Calculate set C using the given formula: C = (A | B) - (A & B)
C = union_AB - intersection_AB

# Get the number of elements in set C
num_elements_C = len(C)

# Print the result
print(f"Set A: {A}")
print(f"Set B: {B}")
print(f"Union (A | B): {union_AB}")
print(f"Intersection (A & B): {intersection_AB}")
print(f"Set C = (A | B) - (A & B): {C}")
print(f"The number of elements in set C is: {num_elements_C}")

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7}
Union (A | B): {1, 2, 3, 4, 5, 6, 7}
Intersection (A & B): {4, 5}
Set C = (A | B) - (A & B): {1, 2, 3, 6, 7}
The number of elements in set C is: 5