<a href="https://colab.research.google.com/github/Sriyansh-36-AI-NITJ/Programming-with-Python-Laboratory/blob/main/Sriyansh_25901336_Python_Lab_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Lab File**

Name:- Sriyansh

Roll No:- 25901336

Course:- M.Tech

Branch:- AI

1. Basic Programs (Variables and Data Types, Arithmetic, Comparison,
Assignment, Logical Operators)

a.	Program to display data of different types using variables and literal constants.

In [2]:
# Using variables
my_integer = 10
my_float = 20.5
my_string = "Hello, Python!"
my_boolean = True

# Using literal constants
print("--- Displaying data using variables ---")
print("Integer variable: ", my_integer)
print("Float variable: ", my_float)
print("String variable: ", my_string)
print("Boolean variable: ", my_boolean)

print("\n--- Displaying data using literal constants ---")
print("Integer literal: ", 100)
print("Float literal: ", 3.14159)
print("String literal: ", "This is a literal string.")
print("Boolean literal: ", False)
print("None literal: ", None)
print("Complex literal: ", 2 + 3j)
print("List literal: ", [1, 2, 3])
print("Tuple literal: ", (4, 5, 6))
print("Dictionary literal: ", {"key": "value"})
print("Set literal: ", {7, 8, 9})

--- Displaying data using variables ---
Integer variable:  10
Float variable:  20.5
String variable:  Hello, Python!
Boolean variable:  True

--- Displaying data using literal constants ---
Integer literal:  100
Float literal:  3.14159
String literal:  This is a literal string.
Boolean literal:  False
None literal:  None
Complex literal:  (2+3j)
List literal:  [1, 2, 3]
Tuple literal:  (4, 5, 6)
Dictionary literal:  {'key': 'value'}
Set literal:  {8, 9, 7}

b.	Write a program to show the application of the += operator on strings.

In [4]:
my_string = "Hello"
print("Initial string: ", my_string)
my_string += ", World!"
print("String after using += operator: ", my_string)

Initial string:  Hello
String after using += operator:  Hello, World!

c.	Write a program that performs addition and multiplication on string variables.

In [5]:
# String Addition (Concatenation)
string1 = "Hello"
string2 = " World"
result_addition = string1 + string2
print("String 1:", string1)
print("String 2:", string2)
print("Result of addition (concatenation):", result_addition)

print("\n---\n")

# String Multiplication (Repetition)
my_word = "Python"
repeat_count = 3
result_multiplication = my_word * repeat_count
print("Original word:", my_word)
print("Repeat count:", repeat_count)
print("Result of multiplication (repetition):", result_multiplication)

String 1: Hello
String 2:  World
Result of addition (concatenation): Hello World

---

Original word: Python
Repeat count: 3
Result of multiplication (repetition): PythonPythonPython

2.	Bitwise, Identity and Membership, Ternary Operators

a.	Write a program to calculate area of a triangle using Heron’s Formula.

In [10]:
print(" Calculate Area of a Triangle using Heron's Formula ")

side_a = float(input("Enter the length of side a: ")) # Example: 5.0
side_b = float(input("Enter the length of side b: ")) # Example: 6.0
side_c = float(input("Enter the length of side c: ")) # Example: 7.0

if (side_a + side_b > side_c) and \
   (side_a + side_c > side_b) and \
   (side_b + side_c > side_a):

    semi_perimeter = (side_a + side_b + side_c) / 2

    area = (semi_perimeter * (semi_perimeter - side_a) * \
                       (semi_perimeter - side_b) * (semi_perimeter - side_c))**0.5

    print(f"\nThe semi-perimeter (s) is: {semi_perimeter:.2f}")
    print(f"The area of the triangle is: {area:.2f} square units")
else:
    print("\nError: The given side lengths do not form a valid triangle.")
    print("Please ensure that the sum of any two sides is greater than the third side.")

 Calculate Area of a Triangle using Heron's Formula
Enter the length of side a: 5
Enter the length of side b: 6
Enter the length of side c: 7

The semi-perimeter (s) is: 9.00
The area of the triangle is: 14.70 square units

b.	Write a program to calculate the total amount of money in the piggy bank, given the coins of Rs10,5,2,1.

In [11]:
print("--- Piggy Bank Calculator ---")

# Get the count of each coin type from the user
count_10_rs = int(input("Enter the number of Rs10 coins: "))
count_5_rs = int(input("Enter the number of Rs5 coins: "))
count_2_rs = int(input("Enter the number of Rs2 coins: "))
count_1_rs = int(input("Enter the number of Rs1 coins: "))

# Calculate the total value
total_amount = (count_10_rs * 10) + \
               (count_5_rs * 5) + \
               (count_2_rs * 2) + \
               (count_1_rs * 1)

print(f"\nTotal amount in the piggy bank: Rs{total_amount:.2f}")

--- Piggy Bank Calculator ---
Enter the number of Rs10 coins: 3
Enter the number of Rs5 coins: 5
Enter the number of Rs2 coins: 5
Enter the number of Rs1 coins: 2

Total amount in the piggy bank: Rs67.00

3.	String Manipulation, Number System and Conversions

a.	Write a Python program that asks the user to enter an integer in decimal (base 10) and then prints its equivalent in binary, octal, and hexadecimal using built-in functions.

In [14]:
print("--- Decimal to Binary, Octal, Hexadecimal Converter ---")
decimal_number = int(input("Enter an integer (decimal/base 10): "))
binary_equivalent = bin(decimal_number)
octal_equivalent = oct(decimal_number)
hexadecimal_equivalent = hex(decimal_number)

print(f"\nDecimal: {decimal_number}")
print(f"Binary: {binary_equivalent}")
print(f"Octal: {octal_equivalent}")
print(f"Hexadecimal: {hexadecimal_equivalent}")

--- Decimal to Binary, Octal, Hexadecimal Converter ---
Enter an integer (decimal/base 10): 3

Decimal: 3
Binary: 0b11
Octal: 0o3
Hexadecimal: 0x3

b.	Write a Python program that reads a string representing a floating-point number (for example, "25.67") from the user, converts it to a float, adds 10.5 to it, and prints the result.

In [15]:
print("--- Float String Conversion and Addition ---")
float_string = input("Enter a floating-point number (e.g., \"25.67\"): ")
original_float = float(float_string)
result = original_float + 10.5

print(f"\nOriginal string entered: '{float_string}'")
print(f"Converted to float: {original_float}")
print(f"Adding 10.5, the result is: {result:.2f}")

--- Float String Conversion and Addition ---
Enter a floating-point number (e.g., "25.67"): 23.33

Original string entered: '23.33'
Converted to float: 23.33
Adding 10.5, the result is: 33.83

4.	Operator Precedence, Basic Data Structure

a.	Write a program to solve the expression: x = 10 + 2 * 3 ** 2 - 8 / 4 .

In [18]:
print(f"Original expression: 10 + 2 * 3 ** 2 - 8 / 4")

# Step 1: Exponentiation (highest precedence)
step1 = 3 ** 2
print(f"After 3 ** 2: 10 + 2 * {step1} - 8 / 4")

# Step 2: Multiplication and Division (from left to right)
step2 = 2 * step1
print(f"After 2 * {step1}: 10 + {step2} - 8 / 4")

step3 = 8 / 4
print(f"After 8 / 4: 10 + {step2} - {step3}")

# Step 3: Addition and Subtraction (from left to right)
step4 = 10 + step2
print(f"After 10 + {step2}: {step4} - {step3}")

x = step4 - step3
print(f"After {step4} - {step3}: {x}")

print(f"\nThe final result of the expression is: {x}")

Original expression: 10 + 2 * 3 ** 2 - 8 / 4
After 3 ** 2: 10 + 2 * 9 - 8 / 4
After 2 * 9: 10 + 18 - 8 / 4
After 8 / 4: 10 + 18 - 2.0
After 10 + 18: 28 - 2.0
After 28 - 2.0: 26.0

The final result of the expression is: 26.0

b.	Write a Python program that asks the user to enter 5 integers, stores them in a list, and then:

•	Prints the list

•	Prints the sum of all elements

•	Prints the maximum element

In [22]:
print("--- List Operations on 5 Integers ---")

numbers = []

print("Please enter 5 integers:")
for i in range(5):
    num = int(input(f"Enter integer {i + 1}: "))
    numbers.append(num)

print(f"\nThe list of integers is: {numbers}")

total_sum = sum(numbers);
print(f"The sum of all elements is: {total_sum}")

maximum_element = max(numbers);
print(f"The maximum element is: {maximum_element}")

--- List Operations on 5 Integers ---
Please enter 5 integers:
Enter integer 1: 2
Enter integer 2: 3
Enter integer 3: 4
Enter integer 4: 1
Enter integer 5: 6

The list of integers is: [2, 3, 4, 1, 6]
The sum of all elements is: 16
The maximum element is: 6

c.	Write a Python program that creates a dictionary to store three students’ names as keys and their marks as values, then:

i.	Prints the dictionary.

ii.	Prints the marks of a student whose name is entered by the user.

In [29]:
print("--- Student Marks Dictionary ---")

student_marks = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78
}

print("\n1. Student Marks Dictionary:")
print(student_marks)

print("\n2. Look up a student's marks:")
student_name = input("Enter the name of the student: ")

# Check if the student name exists in the dictionary before accessing
if student_name in student_marks:
    marks = student_marks[student_name]
    print(f"Marks for {student_name}: {marks}")
else:
    print(f"Student '{student_name}' not found in the dictionary. Please enter one of: {', '.join(student_marks.keys())}")

--- Student Marks Dictionary ---

1. Student Marks Dictionary:
{'Alice': 85, 'Bob': 92, 'Charlie': 78}

2. Look up a student's marks:
Enter the name of the student: Bob
Marks for Bob: 92

d.	Write a Python program that asks the user to enter two integers and prints their division, but uses try and except to:  
i.	Handle division by zero

ii.	Handle non-integer input (e.g., if the user types text instead of a number).

In [28]:
print("--- Integer Division Program ---")

try:
    # Get the first integer from the user
    num1_str = input("Enter the first integer: ")
    num1 = int(num1_str)

    # Get the second integer from the user
    num2_str = input("Enter the second integer: ")
    num2 = int(num2_str)

    # Perform division, handling division by zero
    try:
        result = num1 / num2
        print(f"\n{num1} divided by {num2} is: {result:.2f}")
    except ZeroDivisionError:
        print("\nError: Cannot divide by zero. Please enter a non-zero second integer.")

except ValueError:
    print("\nError: Invalid input. Please ensure you enter integers only.")

--- Integer Division Program ---
Enter the first integer: s

Error: Invalid input. Please ensure you enter integers only.

5.	Modules and Libraries, Loops (For and While)

a.	Write a program that prints absolute value, square root and cube of a number.

In [30]:
print("--- Number Operations: Absolute Value, Square Root, Cube ---")

try:
    num_str = input("Enter a number: ")
    number = float(num_str)

    abs_value = abs(number)

    if number >= 0:
        square_root = number ** 0.5
        print(f"Absolute value of {number} is: {abs_value}")
        print(f"Square root of {number} is: {square_root:.4f}")
    else:
        print(f"Absolute value of {number} is: {abs_value}")
        print(f"Square root of {number} cannot be a real number. For complex numbers, consider importing 'cmath'.")

    cube = number ** 3
    print(f"Cube of {number} is: {cube}")

except ValueError:
    print("\nError: Invalid input. Please enter a valid number.")

--- Number Operations: Absolute Value, Square Root, Cube ---
Enter a number: 2
Absolute value of 2.0 is: 2.0
Square root of 2.0 is: 1.4142
Cube of 2.0 is: 8.0

b.	Write a program to print the reverse of a number.

In [32]:
print("Number Reversal Program")

try:
    original_number_str = input("Enter an integer: ")
    original_number = int(original_number_str)

    is_negative = original_number < 0
    num_abs = abs(original_number)

    num_str = str(num_abs)
    reversed_str = ""

    for digit in num_str:
        reversed_str = digit + reversed_str

    if original_number == 0:
        reversed_number = 0
    else:
        reversed_number = int(reversed_str)

    if is_negative:
        reversed_number *= -1

    print(f"The reverse of {original_number} is: {reversed_number}")

except ValueError:
    print("\nError: Invalid input. Please enter an integer.")

Number Reversal Program
Enter an integer: 345
The reverse of 345 is: 543

c.	Write the program to print multiplication table of n, where n is entered by the user.

In [34]:
print("Multiplication Table Generator")
number_str = input("Enter an integer to see its multiplication table: ")
n = int(number_str)
print(f"\nMultiplication Table for {n}:")
i = 1
while i <= 10:
    result = n * i
    print(f"{n} x {i} = {result}")
    i += 1

Multiplication Table Generator
Enter an integer to see its multiplication table: 5

Multiplication Table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6.	Conditional Statements, Built-In Functions

a.	Write a program to test whether a number entered by the user is negative, positive or equal to zero

In [35]:
print("--- Number Sign Checker ---")

try:
    # Get a number from the user
    number_str = input("Enter a number: ")
    number = float(number_str)

    # Check the sign of the number using if-elif-else
    if number > 0:
        print(f"The number {number} is positive.")
    elif number < 0:
        print(f"The number {number} is negative.")
    else:
        print(f"The number {number} is zero.")

except ValueError:
    print("\nError: Invalid input. Please enter a valid number.")

--- Number Sign Checker ---
Enter a number: 6
The number 6.0 is positive.

b.	Write a program that converts strings of all uppercase characters into strings of all lowercase characters using the map() function.

In [37]:
print("\n--- User Input Example ---")
user_input_string = input("Enter a string (will be converted to lowercase): ")
user_words = user_input_string.split()
user_lowercase_words = list(map(str.lower, user_words))
user_converted_string = " ".join(user_lowercase_words)
print(f"User input in lowercase: '{user_converted_string}'")

--- User Input Example ---
Enter a string (will be converted to lowercase): SRI
User input in lowercase: 'sri'

c.	Write a Python program that takes a string from the user and prints the string in reverse order without using the built-in reverse() function.

In [38]:
print("--- String Reversal Program (without built-in reverse) ---")

original_string = input("Enter a string: ")

reversed_string = ""
for char in original_string:
    reversed_string = char + reversed_string

print(f"Original string: '{original_string}'")
print(f"Reversed string: '{reversed_string}'")

--- String Reversal Program (without built-in reverse) ---
Enter a string: SRI
Original string: 'SRI'
Reversed string: 'IRS'

7.	Nested Loops, String Multiplication, Keyword Arguments

a.	Write a program to print the following pattern:

         1

        12

       123

      1234

     12345

In [41]:
rows = 5

for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end="")

    for k in range(1, i + 1):
        print(k, end="")
    print()

    1
   12
  123
 1234
12345

b.	Write a program to enter a number and display its hex and octal equivalent and its square root.

In [44]:
print("--- Number Converter and Square Root Calculator ---")

try:
    num_str = input("Enter an integer or a floating-point number: ")

    number_float = float(num_str)

    is_integer = False
    try:
        number_int = int(num_str)
        is_integer = True
    except ValueError:
        print("\nNote: Hexadecimal and Octal equivalents are only applicable for integers.")

    print(f"\nOriginal Number: {num_str}")

    if is_integer:
        hex_equivalent = hex(number_int)
        print(f"Hexadecimal Equivalent: {hex_equivalent}")
    else:
        print("Hexadecimal Equivalent: N/A (not an integer)")

    if is_integer:
        octal_equivalent = oct(number_int)
        print(f"Octal Equivalent: {octal_equivalent}")
    else:
        print("Octal Equivalent: N/A (not an integer)")

    if number_float >= 0:
        square_root = number_float ** 0.5
        print(f"Square Root: {square_root:.4f}")
    else:
        print("Square Root: Not a real number (input is negative).")

except ValueError:
    print("\nError: Invalid input. Please enter a valid number.")

--- Number Converter and Square Root Calculator ---
Enter an integer or a floating-point number: 4

Original Number: 4
Hexadecimal Equivalent: 0x4
Octal Equivalent: 0o4
Square Root: 2.0000

c.	Write a program to swap 2 numbers.

In [45]:
print("--- Number Swapper Program ---")

try:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
    print(f"\nBefore swapping: num1 = {num1}, num2 = {num2}")
    num1, num2 = num2, num1
    print(f"After swapping: num1 = {num1}, num2 = {num2}")

except ValueError:
    print("\nError: Invalid input. Please enter valid numbers.")

--- Number Swapper Program ---
Enter the first number: 23
Enter the second number: 34

Before swapping: num1 = 23.0, num2 = 34.0
After swapping: num1 = 34.0, num2 = 23.0

8.	Lambda Function, Recursion

a.	Write a program to find smaller of 2 numbers using lambda function.

In [47]:
print(" Find Smaller of Two Numbers ")
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
find_smaller = lambda a, b: a if a <= b else b
smaller_number = find_smaller(num1, num2);
print(f"\nThe numbers entered are: {num1} and {num2}")
print(f"The smaller number is: {smaller_number}")

 Find Smaller of Two Numbers
Enter the first number: 45
Enter the second number: 32

The numbers entered are: 45.0 and 32.0
The smaller number is: 32.0

b.	Write a program to print the Fibonacci series using recursion.

In [48]:
print("--- Fibonacci Series using Recursion ---")

def fibonacci_recursive(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci_recursive(n - 1) + fibonacci_recursive(n - 2)

try:
    num_terms_str = input("Enter the number of terms for the Fibonacci series: ")
    num_terms = int(num_terms_str)

    if num_terms < 0:
        print("Please enter a non-negative integer.")
    else:
        print(f"\nFibonacci Series (first {num_terms} terms):")
        for i in range(num_terms):
            print(fibonacci_recursive(i), end=" ")
        print()

except ValueError:
    print("\nError: Invalid input. Please enter an integer.")

--- Fibonacci Series using Recursion ---
Enter the number of terms for the Fibonacci series: 5

Fibonacci Series (first 5 terms):
0 1 1 2 3

9.	List and its operations

a.	Write a program to create a list of numbers divisible by 2 or 4 using list comprehension.

In [49]:
print("--- Numbers Divisible by 2 or 4 (using List Comprehension) ---")

start_num = 1;
end_num = 20;

numbers_divisible = [num for num in range(start_num, end_num + 1) if num % 2 == 0 or num % 4 == 0];

print(f"Numbers from {start_num} to {end_num}:");
print(list(range(start_num, end_num + 1)));
print(f"\nNumbers divisible by 2 or 4: {numbers_divisible}");

--- Numbers Divisible by 2 or 4 (using List Comprehension) ---
Numbers from 1 to 20:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Numbers divisible by 2 or 4: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

b.	Write a program to calculate distance between 2 points.

In [50]:
print("--- Calculate Distance Between Two Points ---")

try:
    x1 = float(input("Enter x-coordinate for point 1: "))
    y1 = float(input("Enter y-coordinate for point 1: "))

    x2 = float(input("Enter x-coordinate for point 2: "))
    y2 = float(input("Enter y-coordinate for point 2: "))

    distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

    print(f"\nThe coordinates of point 1 are: ({x1}, {y1})")
    print(f"The coordinates of point 2 are: ({x2}, {y2})")
    print(f"The distance between the two points is: {distance:.2f}")

except ValueError:
    print("\nError: Invalid input. Please enter valid numbers for coordinates.")

--- Calculate Distance Between Two Points ---
Enter x-coordinate for point 1: 2
Enter y-coordinate for point 1: 3
Enter x-coordinate for point 2: 5
Enter y-coordinate for point 2: 6

The coordinates of point 1 are: (2.0, 3.0)
The coordinates of point 2 are: (5.0, 6.0)
The distance between the two points is: 4.24

c.	Write a program that defines a list of countries that are a member of BRICS. Check whether a country is a member of BRICS or not.

In [51]:
print("--- BRICS Membership Checker ---")

brics_countries = ["Brazil", "Russia", "India", "China", "South Africa"]
user_country = input("Enter a country name to check its BRICS membership: ")
user_country_formatted = ' '.join([word.capitalize() for word in user_country.split()])

if user_country_formatted in brics_countries:
    print(f"\n{user_country_formatted} is a member of BRICS.")
else:
    print(f"\n{user_country_formatted} is NOT a member of BRICS.")

--- BRICS Membership Checker ---
Enter a country name to check its BRICS membership: India

India is a member of BRICS.

d.	Write a program to remove all duplicates from a list.

In [52]:
print("--- Remove Duplicates from a List ---")

original_list = [1, 2, 2, 3, 4, 4, 5, 1, 6, 7, 7, 8]
print(f"Original list: {original_list}")

list_as_set = set(original_list)

duplicates_removed_list = list(list_as_set)

print(f"List after removing duplicates: {duplicates_removed_list}")

print("\n--- User Input Example ---")
user_input_str = input("Enter numbers separated by spaces (e.g., '1 2 2 3'): ")
user_numbers_str = user_input_str.split()

try:
    user_list = [int(num) for num in user_numbers_str]
    print(f"User's original list: {user_list}")

    user_list_unique = list(set(user_list))
    print(f"User's list with duplicates removed: {user_list_unique}")
except ValueError:
    print("Invalid input. Please enter numbers separated by spaces.")

--- Remove Duplicates from a List ---
Original list: [1, 2, 2, 3, 4, 4, 5, 1, 6, 7, 7, 8]
List after removing duplicates: [1, 2, 3, 4, 5, 6, 7, 8]

--- User Input Example ---
Enter numbers separated by spaces (e.g., '1 2 2 3'): 1 2 3 4
User's original list: [1, 2, 3, 4]
User's list with duplicates removed: [1, 2, 3, 4]

10.	RegEx, Slicing

a.	Write a program to print the character in pairs.

In [53]:
print("--- Print Characters in Pairs ---")

input_string = input("Enter a string: ")

print(f"\nOriginal string: '{input_string}'")
print("Characters in pairs:")

for i in range(0, len(input_string), 2):
    pair = input_string[i:i+2]
    print(pair)

--- Print Characters in Pairs ---
Enter a string: heyy

Original string: 'heyy'
Characters in pairs:
he
yy

b.	Write a program to reverse a string.

In [58]:
import re

print("--- String Reversal Program (using regex) ---")

original_string = input("Enter a string to reverse: ")

characters = re.findall(r'.', original_string)

characters.reverse()

reversed_string = "".join(characters)

print(f"Original string: '{original_string}'")
print(f"Reversed string: '{reversed_string}'")

--- String Reversal Program (using regex) ---
Enter a string to reverse: Sri
Original string: 'Sri'
Reversed string: 'irS'

11.	File Handling

a.	Write a program that counts the number of tabs, spaces and newline characters in a file.

In [59]:
print("--- File Character Counter ---")

file_name = "sample_text_file.txt"

# Create a dummy file with some tabs, spaces, and newlines
file_content = "This is a sample text.\tIt has some tabs.\nAnd also newlines.   With spaces."

try:
    with open(file_name, 'w') as file:
        file.write(file_content)
    print(f"Created '{file_name}' with sample content.")

    # Initialize counters
    tab_count = 0
    space_count = 0
    newline_count = 0

    # Open the file in read mode
    with open(file_name, 'r') as file:
        content = file.read()

        for char in content:
            if char == '\t':
                tab_count += 1
            elif char == ' ':
                space_count += 1
            elif char == '\n':
                newline_count += 1

    print(f"\nAnalysis of '{file_name}':")
    print(f"Tabs: {tab_count}")
    print(f"Spaces: {space_count}")
    print(f"Newlines: {newline_count}")

except IOError as e:
    print(f"An error occurred while handling the file: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

--- File Character Counter ---
Created 'sample_text_file.txt' with sample content.

Analysis of 'sample_text_file.txt':
Tabs: 1
Spaces: 13
Newlines: 1

b.	Write a program that copies first 10 bytes of a binary file into another.

In [60]:
print("--- Binary File Copy (first 10 bytes) ---")

source_file_name = "source_binary.bin"
destination_file_name = "destination_binary.bin"

# Create a dummy source binary file with more than 10 bytes
try:
    with open(source_file_name, 'wb') as f_src:
        # Write 20 bytes for demonstration
        f_src.write(b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\x09\x0a\x0b\x0c\x0d\x0e\x0f\x10\x11\x12\x13')
    print(f"Created dummy source file: '{source_file_name}' with 20 bytes.")

    # Open the source file in binary read mode
    with open(source_file_name, 'rb') as f_src:
        # Read the first 10 bytes
        first_10_bytes = f_src.read(10)

        # Open the destination file in binary write mode
        with open(destination_file_name, 'wb') as f_dest:
            # Write the read bytes to the destination file
            f_dest.write(first_10_bytes)

    print(f"Successfully copied the first 10 bytes from '{source_file_name}' to '{destination_file_name}'.")

    # Optional: Verify the content of the destination file
    with open(destination_file_name, 'rb') as f_dest_read:
        copied_content = f_dest_read.read()
        print(f"Content of '{destination_file_name}': {copied_content}")
        print(f"Length of copied content: {len(copied_content)} bytes")

except IOError as e:
    print(f"An I/O error occurred: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

--- Binary File Copy (first 10 bytes) ---
Created dummy source file: 'source_binary.bin' with 20 bytes.
Successfully copied the first 10 bytes from 'source_binary.bin' to 'destination_binary.bin'.
Content of 'destination_binary.bin': b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\t'
Length of copied content: 10 bytes

12.	Classes, Inheritance and Operator Overloading, Error Handling

a.	Write a program with class Employee that keeps a track of the number of employees in an organization and also stores their name, designation and salary details.

In [65]:
class Employee:
    employee_count = 0

    def __init__(self, name, designation, salary):
        self.name = name
        self.designation = designation
        self.salary = salary
        Employee.employee_count += 1
        print(f"Employee {self.name} created.")

    def display_employee_details(self):
        """Displays the details of the employee."""
        print(f"\nName: {self.name}")
        print(f"Designation: {self.designation}")
        print(f"Salary: ${self.salary:,.2f}")

# Create first employee object
emp1 = Employee("Alice Smith", "Software Engineer", 75000)
emp1.display_employee_details()

# Create second employee object
emp2 = Employee("Bob Johnson", "Project Manager", 90000)
emp2.display_employee_details()

# Create third employee object
emp3 = Employee("Charlie Brown", "HR Specialist", 60000)
emp3.display_employee_details()

print("\n--- Employee Count ---")
print(f"Total number of employees: {Employee.employee_count}")

# Access individual employee details directly
print(f"\n{emp1.name}'s salary is ${emp1.salary:,.2f}")

Employee Alice Smith created.

Name: Alice Smith
Designation: Software Engineer
Salary: $75,000.00
Employee Bob Johnson created.

Name: Bob Johnson
Designation: Project Manager
Salary: $90,000.00
Employee Charlie Brown created.

Name: Charlie Brown
Designation: HR Specialist
Salary: $60,000.00

--- Employee Count ---
Total number of employees: 3

Alice Smith's salary is $75,000.00

b.	Write a program that has classes such as Student, Course, and Department.
Enroll a student in a course of a particular department.
Student Class (name, rollno, course, year)
Course Class (name, year)
Department Class (name)

In [64]:
class Department:
    def __init__(self, name):
        self.name = name
        print(f"Department '{self.name}' created.")

    def display_department(self):
        print(f"Department: {self.name}")

class Course:
    def __init__(self, name, year, department):
        self.name = name
        self.year = year
        self.department = department # A course belongs to a department
        print(f"Course '{self.name}' ({self.year}) in {self.department.name} created.")

    def display_course(self):
        print(f"Course Name: {self.name}")
        print(f"Course Year: {self.year}")
        print(f"Course Department: {self.department.name}")

class Student:
    def __init__(self, name, rollno, year):
        self.name = name
        self.rollno = rollno
        self.year = year
        self.enrolled_course = None # Student can be enrolled in one course
        print(f"Student '{self.name}' (Roll No: {self.rollno}) created.")

    def enroll_in_course(self, course):
        if isinstance(course, Course):
            self.enrolled_course = course
            print(f"Student {self.name} enrolled in course '{course.name}' of Department '{course.department.name}'.")
        else:
            print(f"Error: Invalid course object provided for {self.name}.")

    def display_student_details(self):
        print(f"\nStudent Name: {self.name}")
        print(f"Roll Number: {self.rollno}")
        print(f"Academic Year: {self.year}")
        if self.enrolled_course:
            print("Enrolled Course Details:")
            self.enrolled_course.display_course()
        else:
            print("Not currently enrolled in any course.")

print("\n--- Creating Departments ---")
comp_dept = Department("Computer Science")
ece_dept = Department("Electronics and Communication")

print("\n--- Creating Courses ---")
python_course = Course("Advanced Python Programming", 2024, comp_dept)
java_course = Course("Enterprise Java Development", 2024, comp_dept)

print("\n--- Creating Students ---")
alice = Student("Alice Smith", "CS001", 2024)
bob = Student("Bob Johnson", "EC002", 2024)

print("\n--- Enrolling Students ---")
alice.enroll_in_course(python_course)
bob.enroll_in_course(java_course)

print("\n--- Displaying Student Details ---")
alice.display_student_details()
bob.display_student_details()

--- Creating Departments ---
Department 'Computer Science' created.
Department 'Electronics and Communication' created.

--- Creating Courses ---
Course 'Advanced Python Programming' (2024) in Computer Science created.
Course 'Enterprise Java Development' (2024) in Computer Science created.

--- Creating Students ---
Student 'Alice Smith' (Roll No: CS001) created.
Student 'Bob Johnson' (Roll No: EC002) created.

--- Enrolling Students ---
Student Alice Smith enrolled in course 'Advanced Python Programming' of Department 'Computer Science'.
Student Bob Johnson enrolled in course 'Enterprise Java Development' of Department 'Computer Science'.

--- Displaying Student Details ---

Student Name: Alice Smith
Roll Number: CS001
Academic Year: 2024
Enrolled Course Details:
Course Name: Advanced Python Programming
Course Year: 2024
Course Department: Computer Science

Student Name: Bob Johnson
Roll Number: EC002
Academic Year: 2024
Enrolled Course Details:
Course Name: Enterprise Java Development
Course Year: 2024
Course Department: Computer Science

c.	Write a program that overloads the + operator on a class Student that has attributes name and marks.

In [66]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def __str__(self):
        return f"Student Name: {self.name}, Marks: {self.marks}"

    def __add__(self, other):
        if isinstance(other, Student):
            combined_marks = self.marks + other.marks
            new_name = f"{self.name} & {other.name}"
            return Student(new_name, combined_marks)
        elif isinstance(other, (int, float)):
            return Student(self.name, self.marks + other)
        else:
            return NotImplemented

student1 = Student("Alice", 85)
student2 = Student("Bob", 92)
student3 = Student("Charlie", 78)

print("Original Students:")
print(student1)
print(student2)
print(student3)

print("\n--- Adding Two Student Objects ---")
combined_students_marks = student1 + student2
print(f"Result of student1 + student2: {combined_students_marks}")
print(f"Individual marks sum: {student1.marks + student2.marks}")

print("\n--- Adding a Number to a Student's Marks ---")
updated_student1_marks = student1 + 10
print(f"Result of student1 + 10: {updated_student1_marks}")
print(f"Alice's original marks: {student1.marks}")

final_marks_for_bob = student2 + 5.5
print(f"Result of student2 + 5.5: {final_marks_for_bob}")

Original Students:
Student Name: Alice, Marks: 85
Student Name: Bob, Marks: 92
Student Name: Charlie, Marks: 78

--- Adding Two Student Objects ---
Result of student1 + student2: Student Name: Alice & Bob, Marks: 177
Individual marks sum: 177

--- Adding a Number to a Student's Marks ---
Result of student1 + 10: Student Name: Alice, Marks: 95
Alice's original marks: 85
Result of student2 + 5.5: Student Name: Bob, Marks: 97.5

d.	Write a program that validates name and age as entered by the user to determine whether the person can cast vote or not.

In [68]:
print("--- Voting Eligibility Checker ---")

try:
    # Get the user's name
    name = input("Enter your name: ")

    # Get the user's age and convert it to an integer
    age_str = input("Enter your age: ")
    age = int(age_str)

    # Validate age: must be a non-negative number
    if age < 0:
        print(f"\n{name}, age cannot be negative. Please enter a valid age.")
    elif age >= 18:
        print(f"\nCongratulations, {name}! You are {age} years old and eligible to cast your vote.")
    else:
        years_to_wait = 18 - age
        print(f"\nSorry, {name}. You are {age} years old. You will be eligible to vote in {years_to_wait} year(s).")

except ValueError:
    print("\nError: Invalid age input. Please enter a whole number for your age.")

--- Voting Eligibility Checker ---
Enter your name: Sri
Enter your age: 69

Congratulations, Sri! You are 69 years old and eligible to cast your vote.